<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>africa</key>
	<string>Africa</string>
	<key>asia</key>
	<string>Asia</string>
	<key>australia</key>
	<string>Australia and Oceania</string>
	<key>europe</key>
	<string>Europe</string>
	<key>north_america</key>
	<string>North America</string>
	<key>south_america</key>
	<string>South America</string>
</dict>
</plist>
